<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title><%= yield(:page_title) || h(config[:title]) %></title>
  <%= stylesheet_link_tag 'blueprint/screen', 'application' %>
  <%= javascript_include_tag 'jquery' %>
  <%= open_id_delegation_link_tags(h(config[:open_id_delegation, :server]), h(config[:open_id_delegation, :delegate])) if config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
    <div class="container" id="main-content">
      <div id="header" class="container">
        <div id="logo" class="span-3">
          <%= image_tag "logo.png" %>
        </div>
        <div id="heading" class="span-16">
          <h1><a href="/">Rails.co.za</a></h1>
          <p>Musings by the Pauls</p>
        </div>
        <div id="controls" class="span-5 last">
          <a href="/pages/about" title="About">About</a> | <a href="/pages/contact" title="Contact">Contact</a>
        </div>
      </div>

      <div id="page" class="container">
        <%= yield %>
      </div>
    </div>

</body></html>
